* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #444;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button.open_modal {
  padding: 20px 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: slateblue;
  color: #fff;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3), -1px -1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3), -1px -1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

div.current_day_of_code {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 15px 20px;
  background: #fff;
  color: #222;
  border-radius: 30px;
}

button.close_modal {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: #fff;
  background: red;
  font-size: 30px;
  font-weight: bold;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  z-index: 20000;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  cursor: pointer;
}

button.close_modal:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

div.overview div.overview_left {
  height: 300px;
  background: dodgerblue;
  color: #fff;
  padding: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

div.overview div.overview_left div.balance {
  text-align: center;
  padding: 20px 0;
}

div.overview div.overview_left div.balance p.total_balance_title {
  font-size: 1em;
  margin-bottom: 15px;
}

div.overview div.overview_left div.spent_and_earned {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

div.overview div.overview_left div.spent_and_earned div.spent,
div.overview div.overview_left div.spent_and_earned div.earned {
  padding: 10px;
  background: #fff;
  text-align: center;
  color: #333;
  border-radius: 8px;
}

div.overview div.overview_left div.spent_and_earned div.spent p.title,
div.overview div.overview_left div.spent_and_earned div.earned p.title {
  font-size: 14px;
  padding-bottom: 10px;
}

div.overview div.overview_left div.action_container {
  position: relative;
  background: #fff;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -30px;
  left: 50%;
  padding: 20px;
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

div.overview div.overview_left div.action_container div.action {
  text-align: center;
}

div.overview div.overview_left div.action_container div.action svg {
  font-size: 24px;
  color: dodgerblue;
}

div.overview div.overview_left div.action_container div.action p {
  padding-top: 8px;
}

div.overview div.overview_right {
  padding: 0 0;
  padding-top: 80px;
  padding-bottom: 70px;
}

div.overview div.overview_right h2.title {
  padding-bottom: 15px;
  padding-left: 25px;
}

div.overview div.overview_right div.filter_by_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding-left: 25px;
  padding-right: 20px;
}

div.overview div.overview_right div.filter_by_container button.filter_button {
  padding: 8px 20px;
  margin-right: 20px;
  border-radius: 20px;
  font-size: 0.8em;
  background: #e7d8d8;
}

div.overview div.overview_right div.filter_by_container button.filter_button.active {
  background: slateblue;
  color: #fff;
}

div.overview div.overview_right div.list_of_transactions {
  padding: 20px 25px;
}

div.overview div.overview_right div.list_of_transactions div.transaction {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  grid-column-gap: 10px;
}

div.overview div.overview_right div.list_of_transactions div.transaction img {
  width: 40px;
  height: 40px;
}

div.overview div.overview_right div.list_of_transactions div.transaction div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.overview div.overview_right div.list_of_transactions div.transaction div.container div.name_and_time h4 {
  padding-bottom: 5px;
}

div.overview div.overview_right div.list_of_transactions div.transaction div.container div.name_and_time span {
  font-size: 13px;
}

div.overview div.overview_right nav.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 70px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.overview div.overview_right nav.navigation div.link_container {
  text-align: center;
}

div.overview div.overview_right nav.navigation div.link_container a {
  font-size: 20px;
  color: #bbb;
  border-radius: 10px;
}

div.overview div.overview_right nav.navigation div.link_container a.active {
  background: dodgerblue;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (min-width: 660px) {
  body {
    height: 100vh;
    position: relative;
    background: #333;
  }
  body div.overview {
    display: -ms-grid;
    display: grid;
    border-radius: 10px;
    width: 650px;
    height: 500px;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2), -1px -1px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2), -1px -1px 15px rgba(0, 0, 0, 0.2);
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  body div.overview div.overview_left {
    height: auto;
  }
  body div.overview div.overview_right {
    background: #fff;
    overflow-x: hidden;
    position: relative;
    padding-top: 0px;
    padding-bottom: 70px;
  }
  body div.overview div.overview_right::-webkit-scrollbar {
    width: 5px;
  }
  body div.overview div.overview_right::-webkit-scrollbar-thumb {
    background: dodgerblue;
  }
  body div.overview div.overview_right::-webkit-scrollbar-track {
    background: #eee;
  }
  body div.overview div.overview_right div.filter_by_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: auto;
  }
  body div.overview div.overview_right div.filter_by_container button.filter_button {
    margin-bottom: 10px;
  }
  body div.overview div.overview_right div.list_of_transactions {
    padding-bottom: 0;
  }
  body div.overview div.overview_right h2.title {
    padding-top: 20px;
  }
  body div.overview div.overview_right nav.navigation {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    right: 0;
    top: 0;
  }
}
/*# sourceMappingURL=style.css.map */